/* ELEMENTS */
 *,
*::before,
*::after,
figure { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
html,
body { width: 100%; height: 100%; font-size: 10px; }
a { text-decoration: none; }

/* TOPBAR */
.topbar {
   height: 6rem;
   padding-right: 2rem;
   background: #242536;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
   .logo {
      width: 20rem;
      height: 6rem;
      background: #151524;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

.inner-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

/* ASIDE */
.sidebar {
   max-width: 200px;
   background: #242536;
}

/* MENU */

/* MAIN */



/* MEDIA-QUERIES */