/* Resets */
*{
	box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 62.5%; /*Reseta o valor da font para 10px, facilitando o uso de EM para definir as fontes*/
}

h1, h2, h3, p, ul, li, figure{ margin: 0; padding: 0;}

ul{ list-style-type: none; }

a{ text-decoration: none; }

img{ max-width: 100%; }
/* /Resets */

/* Classes Gerais*/
.container{
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
	position: relative;
	border: 1px solid;
}

.imgReplacement{
	visibility: hidden;
	color: rgba(0, 0, 0, 0);
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.inlineBlock{
	display: inline-block;
}

.block{
	display: block;
}

.colorWhite{
	color: #fff;
}

.textCenter{
	text-align: center;
}

.title{
	font-size: 4.6em;
	font-weight: 400;
}

.subTitle{
	font-size: 3.2em;
	font-weight: 300;
}

.centerRight{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}

.btnDefault{
	display: inline-block;
	padding: 20px 0;
	margin-top: 25px;
	text-align: center;
	background-color: #ff3b80;
	border-bottom: 5px solid #a42251;
	border-radius: 3px;
	position: relative;
}

.btnDefault:active{
	top: 1px;
	border-bottom: 3px solid #a42251;
}

.btnLarge{
	width: 460px;
	font-size: 3.2em;
}

.btnSmall{
	width: 290px;
	font-size: 2.8em;
}

.text{
	margin: 16px 0;
	font-size: 2.0em;
	font-weight: 300;
}
/* /Classes */

/* Componentes */
#header{
	background-color: rebeccapurple;
}

.logoTitum{
	width: 176px;
	height: 76px;
	background: url(../img/logo-titum.png) no-repeat;
}

.itemMenu{
	display: inline-block;
	padding: 8px 20px 10px;
	margin-right: 60px;
	font-size: 2.0em;
	border-radius: 3px;
}

.itemMenu:hover{
	border: 1px solid #fff;
}

#topo{
	background-color: blue;
}

.boxTopo{
	width: 47.91%;
	padding-top: 130px;
	border: 1px solid;
}

#conheca{
	background-color: darkcyan
}


.boxConheca{
	padding-top: 45px;
}
/* /Componentes */


/* Mobile */
@media screen and (max-width: 960px){
	.container{ padding: 0 20px;}
}