*{
	box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	background: url(../img/bg-topo.png) no-repeat;
}

h1, h2, h3, p, ul, li, figure{ margin: 0; padding: 0;}

ul{ list-style-type: none; }

a{ text-decoration: none; }

img{ max-width: 100%; }

.container{
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
	position: relative;
}

.logoTitum{
	width: 176px;
	height: 76px;
	margin-top: 17px;
	float: left;
	background: url(../img/logo-titum.png) no-repeat;
}

.logoTitum span{
	visibility: hidden;
}

nav{
	padding: 28px;
	float: right;
}

nav li{
	display: inline-block;
	margin-right: 60px;
}

nav a{
	display: inline-block;
	padding: 8px 20px 10px;
	font-size: 20px;
	color: #fff;
	border-radius: 3px;
}

nav a:hover{
	border: 1px solid;
	
}

#topo{
	min-height: 728px;
}

.destaqueTopo{
	width: 460px;
	padding-top: 135px;
	text-align: center;
	color: #fff;
}

.destaqueTopo h2 {
	font-size: 50px;
	font-weight: 500;
}

.destaqueTopo span{
	font-size: 36px;
	font-weight: 300;
}

.destaqueTopo .btn{
	display: inline-block;
	width: 460px;
	padding: 20px;
	margin-top: 25px;
	font-size: 36px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	border-bottom: 5px solid #a42251;
	border-radius: 3px;
	background-color: #ff3b80;
}

.btn:active{
	position: relative;
	top: 1px;
	border-bottom: 3px solid #a42251;
}

#conheca{
	padding: 74px 0;
}

#conheca figure{
	float: left;
}

.destaqueConheca{
	padding-top: 45px;
	float: right;
}

#conheca h3{
	font-size: 36px;
	font-weight: 500;
}

#conheca p{
	font-size: 24px;
	font-weight: 300;
	margin: 20px 0;
}

#conheca .btn{
	display: inline-block;
	width: 290px;
	padding: 20px;
	margin-top: 25px;
	font-size: 36px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	border-bottom: 5px solid #a42251;
	border-radius: 3px;
	background-color: #ff3b80;
}


#depoimento{
	background-color: #ebe7fb;
	border-top: 3px solid  #511099;
	text-align: center;
	padding: 65px 0 115px;
}

#depoimento figure{
	margin-bottom: 22px;
}

#depoimento p{
	font-size: 24px;
	font-weight: 300;
}


#convite {
	height: 424px;
	padding: 152px 0;
	background: url(../img/fundo-convite.png) no-repeat;
	background-size: cover;
	text-align: center;
}

#convite .campoConvite{
	width: 641px;
	display: inline-block;
	padding: 0 15px;
	background: #fff;
}

.campoConvite input{
	width: calc(100% - 90px);
	height: 100px;
	border: none;
	font-size: 24px;
	font-weight: 400;
	color: #4a4a4a;
	outline: none;
}

input::placeholder{
	text-align: center;
}

.campoConvite button{
	width: 85px;
	height: 41px;
	background: url(../img/btn-convite.png) no-repeat;
	border: none;
	cursor: pointer;
}

footer{
	padding: 34px 0;
	font-size: 18px;
	border-top: 3px solid #fff;
	color: #fff;
	text-align: center;
	background-color: #2a0157;
}