/* RESETS
-----------------------------------------------------------*/
* { box-sizing: border-box; }

body { font-family: 'Lato', sans-serif; color: #000; }

ul, li { margin: 0; padding: 0; list-style: none; }

h1, h2, h3, p { margin: 0; padding-bottom: 10px; display: block; }

figure { margin: 0 0 10px 0; padding: 0; text-align: center; }

a { color: #fff; text-decoration: none; display: inline-block; }

/* CLASSES GERAIS
-----------------------------------------------------------*/
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
	padding-bottom: 5px;
}
.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
	clear: both;
	overflow: auto;
	zoom: 1;
}

.imgResonsive {
	max-width: 100%;
}

.btn {
	border-radius: 3px;
	font-weight: 300;
	background-color: #ff3d7f;
	display: inline-block;
	box-shadow: 0px 4px 0px #A32751;
}

.btn:active {
	box-shadow: 0px 2px 0px #A32751;
	position: relative;
	top: 2px;
}
.btnLarge {
	width: 100%;
	max-width: 460px;
	padding: 10px 0;
	font-size: 3.5em;
}
.btnSmall {
	max-width: 290px;
	width: 70%;
	padding: 10px;
	font-size: 2.3em;
}

.voltarTopo{
	color: #64037b;
	font-size: 4em;
	border-radius: 50%;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1;
	outline: none;
	opacity: 0;
	transition: all .8s;
	visibility: hidden;
}

/* GERAL
-----------------------------------------------------------*/


/* HEADER
-----------------------------------------------------------*/

.logoTitum {
	height: 80px;
	text-align: center;
	background: url(../img/logo-titum.png) no-repeat center;
}

.logoTitum span {
	font-size: 2em;
	opacity: 1;
	display: none;
}


/* TOPO
-----------------------------------------------------------*/


/* CONHECA
-----------------------------------------------------------*/


/* DEPOIMENTO
-----------------------------------------------------------*/


/* CONVITE
-----------------------------------------------------------*/


/* FOOTER
-----------------------------------------------------------*/


/* MEDIA QUERIES
-----------------------------------------------------------*/
@media screen and (min-width: 479px) {

}

@media screen and (min-width: 759px) {

}

/* ANIMAÇÃO
-----------------------------------------------------------*/
[data-anime]{
	opacity: 0;
	transition: .3s;
}
[data-anime="top"]{
	transition: 1.5s;
	transform: translate3d(0, -50px, 0);
}
[data-anime="left"]{
	transform: translate3d(-80px, 0, 0);
}
[data-anime="right"]{
	transform: translate3d(80px, 0, 0);
}
[data-animeOnload="top"]{
	opacity: 0;
	transition: 1s;
	transform: translate3d(0, -30px, 0);
}

[data-anime].animate,
[data-animeOnload].animate{
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
