/* RESETS
-----------------------------------------------------------*/
*,
h1,
h2,
h3,
figure{ margin: 0; padding: 0; box-sizing: border-box; }
*:before, *:after { content: ''; margin: 0; padding: 0; box-sizing: border-box;}

html,
:root{font-size: 10px;}
html,
body{
	height: 100%;
	height: 100vh;
}
ul{list-style: none; }
a{color: #ffffff; text-decoration: none;}

/* HELPERS
-----------------------------------------------------------*/
.img-responsive{
	max-width: 100%;
	display: block;
}

.btn
{
	padding: 1.5rem;
	font-size: 2rem;
	font-weight: 100;
	text-align: center;
	border-radius: 3px;
	background: #e64766;
	display: inline-block;
	box-shadow: 0 .6rem 0 #a32751;
}
	.btn--large{
		max-width: 46rem;
		width: 100%;
		padding: 1.5rem 1rem;
		font-size: 3.6rem;
	}
	.btn--medium{
		max-width: 29rem;
		width: 100%;
		font-size: 3rem;
	}

/* GERAL
-----------------------------------------------------------*/
body { font-family: 'Lato', sans-serif; color: #000; background: #431d5f;}
.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 1rem;
}

/* HEADER
-----------------------------------------------------------*/
.header{
	color: #fff;
}
	.logo{
		width: 176px;
		height: 76px;
		font-size: 3.6rem;
		background: url(../img/logo-titum.png) no-repeat center;
		display: inline-block;
	}
	.logo__text{
		opacity: 0;
	}

/* MENU
-----------------------------------------------------------*/
.header{
	padding-top: 2rem;
}
.menu__container{
/*
	display: flex;
	flex-direction: column;
	justify-content: center;
*/
}
	.menu__item{
		padding: .5rem 0;
		text-align: center;
	}
		.menu__link{
			padding: 1rem;
			font-size: 2rem;
			border: 1px solid transparent;
			border-radius: .3rem;
			display: inline-block;
		}
		.menu__link:hover{
			border: 1px solid #fff;
		}

/* TOPO
-----------------------------------------------------------*/
.topo{
	height: auto;
	margin-top: -281px;
	padding: 281px 0 3rem;
	color: #fff;
	background: url(../img/bg-topo.png) no-repeat center;
	background-size: cover;
}
	.conhecaTitum{
/*		max-width: 460px;*/
		text-align: center;
	}
		.conhecaTitum__title{
			font-size: 5rem;
			font-weight: 500;
		}
		.conhecaTitum__slogan{
			font-size: 3.6rem;
			padding: .7rem 0 2.5rem;
			font-weight: 300;
		}


/* CONHECA
-----------------------------------------------------------*/
.conheca{
	padding: 7.5rem 0;
	text-align: center;
	background: #fff;
}
	.conheca__img{
		display: inline-block;
	}

	.descTitum__title{
		padding-top: 1rem;
		font-size: 3.6rem;
		font-weight: 500;
	}
	.descTitum__text{
		padding: 2.1rem 0 4rem;
		font-size: 2.4rem;
		font-weight: 300;
	}


/* DEPOIMENTO
-----------------------------------------------------------*/
.depoimento{
	padding: 6.5rem 0;
	background: #ebe8fb;
	text-align: center;
}
	.depoimento__text{
		padding-top: 2rem;
		font-size: 2.4rem;
		font-weight: 300;
	}


/* CONVITE
-----------------------------------------------------------*/
.convite{
	padding: 7rem 0;
	background: #431d5f url(../img/fundo-convite.png) no-repeat center;
	background-size: cover;
}
	.convite__form{
		max-width: 640px;
		margin: 0 auto;
		padding: 2rem;
		border-radius: 3px;
		background: #fff;
	}
		.convite__field{
			width: calc(100% - 90px);
			height: 43px;
			padding-right: 1rem;
			font-size: 2rem;
			color: #4a4a4a;
			border: none;
			outline: none;
		}
			.convite__field::-webkit-input-placeholder {
				font-size: 2rem;
				color: #4a4a4a;
			}
			.convite__field:-ms-input-placeholder {
				font-size: 2rem;
				color: #4a4a4a;
			}
			.convite__field:placeholder{
				font-size: 2rem;
				color: #4a4a4a;
			}
		.convite__btn{
			width: 87px;
			height: 43px;
			font-size: 3rem;
			color: rgba(74, 74, 74, 0);
			border: none;
			border-radius: 3px;
			background: url(../img/btn-convite.png) no-repeat center;
			background-color: transparent;
			cursor: pointer;
		}


/* FOOTER
-----------------------------------------------------------*/
.footer{
	padding: 3.5rem 0;
	text-align: center;
}
	.footer__text{
		font-size: 1.8rem;
		font-weight: 300;
		color: #fff;
	}


/* MEDIA QUERIES
-----------------------------------------------------------*/
@media (min-width: 768px){
	html,
	:root{font-size: 10px;}

	.menu__container{
	flex-direction: row;
	}

	.topo{
		min-height: 100%;
		min-height: 100vh;
	}
}






