ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	background: #4a4a4a url(../img/checkbox2.png) no-repeat 40px center;
	margin-bottom: 3px;
	padding: 60px 40px 60px 100px;
}

li:hover {
	background-color: #6e6e6e;
}

li.feito {
	background-color: #27ae60;
	background-image: url(../img/checkbox.png);
}

li.feito:hover {
	background-color: #52be7f;
}

a {
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	display: block;
	background: url(../img/seta.png) no-repeat right center;
	font-family: 'Oswald',
	sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiesed;
}
