/*
Alterações:
	Aplicação da técnica image replacement
	Substituição da tag p por h2 nos titulos dos cards
*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}

h1{
	text-align: center;
	background: url(../img/logo-playcode.png) no-repeat center;
}

h1 span{
	visibility: hidden;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	padding: 0 10px;
	list-style-type: none;
	margin-bottom: 30px;
}

li img{
	width: 100%;
}

li h2{
	margin: 5px 0;
	font-size: 20px;
	font-weight: 500;
	color: #4a4a4a;
	text-align: left;
	text-transform: uppercase;

}

/* DESKTOP*/
@media screen and (min-width: 560px){
	.container{
		max-width: 960px;
		margin: 0 auto;
	}

	li{
		width: 50%;
		margin-right: -4px;
		display: inline-block;
		vertical-align: top;
	}
}

@media screen and (min-width: 800px){
	li{
		width: 33.33%;
		padding: 0 10px;
	}
}
